body {
	font-family: 'Open Sans', sans-serif;
}

#caption {
	margin-top: 200px;
}

.jumbotron {
    height: 500px;
    background: #000 url("../images/friendA.jpeg") no-repeat center center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    color: #FFF; // change text color

}

.material-icons.md-48 { 
	font-size: 48px; 
}

.material-icons.md-18 { 
	font-size: 18px; 
}

#columnA {
	margin-left: 40px;
    margin-bottom: 5vh;
}

#columnB {
	margin-left: 40px;
    margin-bottom: 5vh;
}

#modalFooterText {
    text-align: left;
}

